.card {
  perspective: 600;
}

.card {
  border: 1px solid black;
  border-radius: 25px;
  width: 350px;
  height: 167px;
  margin-bottom: 10px;
  position: relative;
}

.card .title {
  text-align: center;
  font-size: 25px;
  margin: auto;
  font-weight: 700;
}

.card p {
  text-align: left;
  margin: auto;
  line-height: 1.65;
  font-weight: 400;
  color: #51606e;
}

.card .side {
  backface-visibility: hidden;
  padding: 10px;
}

.card:hover .side {
  display: none;
}

.card .back {
  display: none;
  text-align: center;
  padding: 10px;
}

.card:hover .back {
  display: block;
}

.card .back p {
  text-align: center;
  vertical-align: middle;
}
