body {
  background: #f7f7f7;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.UserInput {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center
}

h1 {
  font-weight: 800;
  color: #51606e;
}

.radio {
  margin: 10px;
  font-size: 20px;
}

.radio input {
  height: 15px;
}

.Student {
  grid-row: 1/2;
}

.UserInput h1 {
  margin-bottom: 10px
}

.Income {
  grid-row: 1/2;
}

.AvailableCards {
  text-align: center;
}

.card {
  border: 1px solid black;
  border-radius: 25px;
  width: 330px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card .title {
  text-align: center;
  font-size: 25px;
  margin: auto;
  font-weight: 700;
}

.card p {
  text-align: left;
  margin: auto;
  line-height: 29px;
  font-weight: 400;
  color: #51606e;
}

.TotalAvailableCredit p {
  font-size: 35px;
  color: #51606e;
  font-weight: 600;
  margin: auto;
}
